<mat-toolbar color="primary">
    <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
    </button>
    <span>Company</span>
    <span class="spacer"></span>
    <button mat-button routerLink="/">Home</button>
    <button mat-button routerLink="/about">About</button>
    <button mat-button routerLink="/contact">Contact</button>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav mode="side" class="sidenav" opened>
        <mat-nav-list>
            <a mat-list-item routerLink="/">Home</a>
            <a mat-list-item routerLink="/about">About</a>
            <a mat-list-item routerLink="/contact">Contact</a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="content">
            <ng-container *ngTemplateOutlet="content"></ng-container>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>