.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    justify-content: center;
  }
  
  .spacer {
    flex: 1 1 auto;
  }
  
  mat-toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  a {
    color: white;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  